<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CHDC Website</title>
	<link rel="stylesheet" href="../css/mainpage.css" type="text/css">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<header>
		<div class="row">
			<div class="col-md-3">
				<img src="../images/cutedog.jpg" alt="a cute dog"/>
			</div>
			<div class="col-md-9">
				<h1>DHS Online Store </h1>
			</div>
		</div>
	</header>
	
	<div class="container">
  <div class="jumbotron">
		<div class="row">
			<div class="col-md-8">
				
		    <h1>About Us</h1>
		    <p>Hi this is a store. What's up. </p>
			</div>
			<div class="col-md-4">
				<img src="../images/bread-dog.jpg" alt="a cute bread dog"/>
			</div>
		</div>
  </div>
</div>

	<section class="search-bar">
		<div class="row">
					<div class="col-md-2">

					</div>
					<input type="text" placeholder="search" id="search" class="col-md-9" submit="hi">
					<div class="col-md-1" class="search-logo">
						<i class="fa fa-cart-arrow-down fa-lg"></i>
						<p> Go to Cart </p>
					</div>
		</div>
	</section>

	<section class="main">
		<div class="row">
			<div class="col-md-3">
				<table class="table table-striped">
    <thead>
      <tr>
        <th>Categories</th>
				
      </tr>
    </thead>
    <tbody>
      <tr>
				<td> Category 1 </td>
        <td> <i class="fa fa-check-square"></i> </td>
      </tr>
      <tr>
				<td> Category 2 </td>
        <td> <i class="fa fa-square"></i> </td>
      </tr>
      <tr>
				<td> Category 3 </td>
        <td> <i class="fa fa-check-square"></i> </td>
      </tr>
    </tbody>
  </table>
			</div>
			<div class="col-md-9">
			
				<section class="results">
					<div class="row">
						  <div class="column" >
						    <h2>Item 1</h2>
						    <p>description</p>
						  </div>
						  <div class="column">
						    <h2>Item 2</h2>
						    <p>desc</p>
						  </div>
						</div>

						<div class="row">
						  <div class="column" >
						    <h2>Item 3</h2>
						    <p>desc</p>
						  </div>
						  <div class="column">
						    <h2>Item 4</h2>
						    <p>desc</p>
			
						</div>
					</div>
				<div class="row">
						<div class="column" >
							<h2>Item 5</h2>
							<p>desc</p>
						</div>
						<div class="column">
							<h2>Item 6</h2>
							<p>desc</p>
						</div>
					</div>

				</section>
			</div>
			</div>
		</div>
	</section>



	<footer>
		<p>Hi this is the footer whats up.</p>
	</footer>
</body>
</html>
