<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CHDC Website</title>
	<link rel="stylesheet" href="../css/mainpage.css" type="text/css">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
	<header>
		<div class="row">
			<div class="col-md-3">
				<img src="../images/cutedog.jpg" alt="a cute dog"/>
			</div>
			<div class="col-md-9">
				<h1>DHS Online Store </h1>
			</div>
		</div>
	</header>

	<section class="main" class="main-section">
		<div class="row">
			<div class="col-md-12">
					<p>
						 Main Text
					</p>
			</div>
		</div>
		</div>
	</section>

	<footer>
		<p>Footer Text</p>
	</footer>
</body>
</html>
