@page
@model DDSWebstore.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.streetAddress" class="control-label"></label>
                <input asp-for="Order.streetAddress" class="form-control" />
                <span asp-validation-for="Order.streetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.city" class="control-label"></label>
                <input asp-for="Order.city" class="form-control" />
                <span asp-validation-for="Order.city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.state" class="control-label"></label>
                <input asp-for="Order.state" class="form-control" />
                <span asp-validation-for="Order.state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.zipcode" class="control-label"></label>
                <input asp-for="Order.zipcode" class="form-control" />
                <span asp-validation-for="Order.zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
