body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: white;
    font-weight: 100 !important;
    min-width: 320px;
    width: auto !important; 

    font-family: 'Roboto', sans-serif;
}

label {
    font-weight: 100;
}

.navbar {
    background: rgb(243, 243, 243);
    border-bottom:None;
    width: 100%;
}

@media (min-width: 992px) {
    .container.body-content {
        width: 100%;
        padding-left: 5em;
        padding-right: 5em;
        
    }



}



.row.search {
    margin-bottom: 1em;
}

.row.search div.col {
    height:100%;
}

h1.items {
    font-family: 'Assistant', sans-serif;
    margin:0;
    margin-top:3px;
    font-size:2em;
    
}


button.navbar-toggle {
    margin-right: 10px
}

nav.navbar.navbar-inverse div.container {
    color: blue;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 30px;
    
    width:100%;
}


.navbar-header a.navbar-brand {
    color:black;
    font-size:1.8em;
    padding-right: 0;
    padding-left: 8px;

    border: solid thin #eee;
    font-family: 'Croissant One', cursive;

}

.thumbnail img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bounding-box.item-image{
    background-size: contain;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

.thumbnail_parent {
    height:150px;
    
}


.thumbnail {
    display: block;
    max-width: 100%;
    height: auto;
    min-height:150px;
    position: relative;
    overflow: hidden;
    padding: 34.37% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
}

.thumbnail.modal {
    display: block;
    max-width: 100%;
    height: auto;
    min-width:3vw;
    position: relative;
    overflow: hidden;
    padding: 34.37% 0 0 0;
    margin-top:3em;
    margin-right:2em;
}


@media (min-width: 320px) {
    .navbar-header a.navbar-brand {
        font-size: 1.5em;
    }


}


li p.navbar-btn {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 5px;
    color: rgb(73, 14, 200);
}

.navbar-header a.navbar-brand:hover {
    color: black;
}
.nav.navbar-nav li a{
    font-family: 'Assistant', sans-serif;
    font-size: 1.6em;
    color: rgb(0, 0, 0);
    border: solid thin #eee;

}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #eee;
}

.nav.navbar-nav li a:hover {
    color: rgb(219, 128, 0);
    /* border: solid thin rgb(174, 147, 225);
    background: rgb(217, 217, 217);
    border-radius: 6px; */

}

.nav.navbar-nav li a:hover .badge{
    background-color: rgb(219, 128, 0);
    color: black;
}

.nav.navbar-nav li a.btn {
    padding-left:.2em;
}

.badge {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    display: float;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    /* visibility: hidden; */
}

/* .set-ripple {
	-webkit-animation: ripple 0.8s, color-change 0.8s;
}

@-webkit-keyframes ripple {
    0% {
      @include transform(scale(1));
    }
    100% {
      box-shadow: 0 0 0 150px rgba(#fff, 0);
    }
  }

  @-webkit-keyframes color-change {
	0%, 80%, 100% {
		background-color: none;
	}
	30% {
		background-color: #5cb85c;
	}
} */

/* .nav.navbar-nav.navbar-right li a:hover {
    color: #5F01F4;
    border: solid thin #eee;
    background: rgb(238, 238, 238);
} */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron h1 {
    margin-top: 2em;
    font-family: 'Bitter', serif;
}

.jumbotron p {
    font-size: 30px;
}



.jumbotron {
    background-size:cover;
    font-family: 'Assistant';
    color: #eee;
    color: white;
    height: 100%;
    padding: 0;
    margin: 0;
    
   
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Gfp-arkansas-mount-magazine-state-park-the-ozark-valley.jpg"); */
    /* background:  linear-gradient(#004092, #020202, transparent), url("../img/mountains.jpg") no-repeat center; 
     */
    /* background: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Gfp-arkansas-mount-magazine-state-park-the-ozark-valley.jpg"), linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)); */
}

.jumbotron.main {    
    background-image: linear-gradient( rgba(33, 14, 0, 0.3), rgba(23, 10, 0, 0.8) ), url("../images/fake_examples/candles.jpg");
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 49em;
   
    
}

.jumbotron.small-top {
    background-image: linear-gradient( rgba(33, 14, 0, 0.1), rgba(23, 10, 0, 0.8) ), url("../images/fake_examples/basket.jpg");
    min-height: 24em;
    margin-top: 2em;
}

.jumbotron.small-bottom {
    background-image: linear-gradient( rgba(33, 14, 0, 0.1), rgba(23, 10, 0, 0.8) ), url("../images/fake_examples/scarf.jpg");
    min-height: 24em;
    margin-top:1em;
    margin-bottom: 2em;

}










/* QR code generator */
#qrCode {
    margin: 15px;
}




.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    height:3em;
}
/* 
.item.list-group-item
{
  overflow:hidden;  
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
} */

.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    overflow:hidden;

}

.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.item-image:hover {
    cursor: pointer;
}


.categories {
    border-collapse: collapse;
    margin:0;
    width:100%;
    margin-right:1em;
  
}

.categories tbody {
    cursor: pointer;
}

.categories tbody tr:hover {
    background: #eee;
  
}

.categories tbody tr label {
    cursor: pointer;
}

.categories tbody tr input {
    cursor: pointer;
}

.categories td label {
    padding: .25em;
    margin: 0;
    width:80%;
    text-align: left;
    
}


.categories tr {
  
    font-family: 'Assistant', sans-serif;
    font-size:1.3em;
    text-align: left;
    margin:0;
    padding:0;
}

/* .categories input {
     margin-right:25%;
} */

.categories input[type=checkbox] {
    opacity: 0;
    border-width: 0;
    height:0;
    width: 0;
    margin: 0;
    padding: 0;
}

.panel-primary .panel-heading {
    background-color: rgba(19, 91, 56, 0.661);
    border-bottom-color: rgba(67, 32, 6, 0.387);

}
div.row.list-group {
    margin:0;
}

.panel-primary {
    border-color: rgba(54, 27, 1, 0.682);
    box-shadow: black;
}

.panel-primary .panel-heading > a.accordion-toggle{
     color: white;
     width: 100%;
     text-align: center;
     padding:.5em;
     font-family: 'Assistant', sans-serif;
     font-size: 1.4em;
}


.categories th {
    
}
.categories tbody tr {
    height:1em;
    background:white;
    
}
.categories td {
    border: 0px solid #eee;
    text-align: center;
}

.highlight_row {
    background: #eee;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    /* width: 80%;
    height:80%; */
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height:60%;
    min-width:65%;
    
}

/* .modal-content div.jumbotron {
    background-color: #eee;
    font-family: 'Karla';
    
    border: solid thin rgb(69, 40, 0);

}

.modal-content div.jumbotron header {
    color: rgb(33, 20, 0);
    text-align: center;
} */



.modal-subcontent {
    margin: 0 15%;
}

.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right:5px;
    margin-top:3px;
}

.modal-item-title {
    text-align: left;
    font-size: 3vh;
    width:100%;
    padding:0;
    margin:0;
    padding-top: 1em;

    font-family: 'Croissant One';
}

.modal-content div.row.modal-header {
    margin:0;
    margin-bottom: 2em;
    padding:0;
}





.modal-item-price, .modal-item-desc {
    font-family: 'Assistant';
    text-align: left;
    font-size: 3vh;
    
    width: 100%;
}

.modal-item-price {
    font-size: 3vh;
}

.modal-cart-button {
    width: 80%;
    /* margin-top:3em; */
    margin-bottom:1em;
    height: 90%;
    background-color: rgba(19, 91, 56, 0.661);
    font-family: 'Assistant', sans-serif;
    border-color: rgb(66, 30, 5);
}
.modal-cart-button:hover {
    width: 80%;
    background-color: rgba(22, 154, 90, 0.661);
    font-family: 'Assistant', sans-serif;
    border-color: rgb(66, 30, 5);


}

/* .modal-wrapper {
    padding: 2em;
} */


.bounding-box.modal-image {
    /* padding: 2em;
    max-width: 100%;
  
    margin-left: auto;
    margin-right: auto; 
    overflow: hidden; */
    background-size: contain;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.bounding-box.modal-alt-image {

    background-size: contain;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}



.alt-image {
    display: block;
    min-width: 100%;
    height: auto;
    min-height: 100px;
    position: relative;
    overflow: hidden;
    
    padding: 34.37% 0 0 0; 
    margin-left:-4em;
    margin-right:-4em;
    
}

/* .bounding-box.alt-image {
    background-size: contain;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
} */


.close:hover,.close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
}

.product-desc {
    display: none;
}

.search-container {
    float: right;
    width: 100%;
    margin:0;
    margin-top: 8px;
    padding: 0;
    
}

.search-container form.navbar-form {
    padding:0;
    margin:0;
}




/* .input-group button {
    position:absolute;
    position: top right;
    z-index: 2;
} */

.input-group button {
    z-index: 2;
}

.list-inline {
    display: flex;
    justify-content: center;
}

.id {
    display: none;
}

.urls {
    display: none;
}

.modal-item-id {
    display: none;
}

.editElement {
    display: inline;
}


.editImg {
    max-height: 150px;
    max-width: 150px;
}


.selectable .ui-selecting {
    border: 2px dashed #ff0000;
}

.selectable .ui-selected {
    border: 2px solid #ff0000;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 1);
}

.selectable img {
    margin: 5px;
    padding: 5px;
    border: 2px solid #ffffff;
}

.selected-items {
    border: 2px solid #ff0000;
    line-height: 32px;
}

.emptyCart {
    text-align: center;
}

.emptyCart p {
    font-size: 2em;
}




/* 
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    width: 80%;
    padding: 10px;
    margin: 15% auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    float: right;
} */