@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- <div class="container">
    <div class="row" style="padding-top:20px;padding-bottom:50px;">
        <div class="col-sm-4">
            <a href="https://imgur.com/hy8FkC6"><img src="https://i.imgur.com/hy8FkC6.png" title="source: imgur.com" /></a>
        </div>
        <div class="col-sm-8">
            <h1> About Us: </h1>
            <p>
                The Conway Human Development Center (CHDC) is one of Arkansas’ five state-managed residential training facilities
                for people with intellectual disabilities. It is located on a 409.25-acre site in the city of Conway. CHDC’s
                licensed residential capacity is 518 individuals with a functional capacity of approximately 480 individuals.
                The Conway Human Development Center is licensed by the Arkansas Office of Long Term Care as an Intermediate Care 
                Facility/Serving Individuals with Intellectual Disabilities (ICF/IID). CHDC has been nationally accredited since 
                1986 and accredited by the Commission on Accreditation of Rehabilitation Facilities (CARF) since 1998.
            </p>
        </div>
    </div>
</div> -->
<div class="jumbotron" >
  <div class="container text-center"> 
    <h1>DDS Arkansas Craft Store</h1>      
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non mollis lectus, quis sodales lacus. Sed ac ultrices tortor. Vestibulum fringilla sem sodales rutrum interdum. Proin luctus eros nec orci gravida dictum. Nullam porta finibus dui quis mattis. Aenean rhoncus euismod felis, vitae dignissim quam hendrerit nec. Phasellus ac facilisis lacus. Integer sit amet nunc mi.  </p>
  </div>
</div>

<div class="search-container">
    <form class="navbar-form">
            <div class="input-group">
                <input class="form-control" type="text">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
    </form>
</div>


<div class="row">

<div class="container">
    <div class="row">
        
        <div class="col-sm-3" style>
            
            <table class="categories">
                <thead>
                   
                    <th>Item Categories</th>
                
                </thead>
                <tbody>
                <tr>
                    <td>
                    <input type="checkbox" value="Category 1"/>
                    <label for="subscribeNews">Category 1</label>
                    </td>
                </tr>
               <tr>
                    <td>
                    <input type="checkbox" value="Category 2"/>
                    <label for="subscribeNews">Category 2</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    <input type="checkbox" value="Category 3"/>
                    <label for="subscribeNews">Category 3</label>
                    </td>
                </tr>
                </tbody>
            </table>
           
        <!-- <table border="0">
        <thead>
            <tr>
                <th><h4>Items</h4></th>      
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="Category">
                            Category 1
                        </label>
                    </div>
                </td>
                
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="Category">
                            Category 2
                        </label>
                    </div>
                </td>           
            </tbody>
        </table> -->
        </div>
    <div class="col-sm-9">
        <!--TODO: programatically generate table items-->
        <!-- <div class="well well-sm">
            <strong>Display</strong>
            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                    class="glyphicon glyphicon-th"></span>Grid</a>
            </div>
        </div> -->
        <div id="products" class="row list-group">
            @foreach (var item in Model.Item) {
                <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="item-image" src="@Html.DisplayFor(modelItem => item.imageUrl)" alt="" />
                    <div class="caption">
                        <h4 class="product-title">
                            @Html.DisplayFor(modelItem => item.name)
                        </h4>
                        <p class="product-desc">@Html.DisplayFor(modelItem => item.description)</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="price">
                                    @Html.DisplayFor(modelItem => item.price)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            }
            
    </div>
        <!-- <div class="col-lg-2 col-md-2 col-sm-3" style="padding-left:10em">
        </div> -->
        
    </div>
    </div>
    </div>

<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <div class="modal-content">
        <!--Header/Title for Modal-->
        <div class="jumbotron">
            <header class="modal-item-title"></header>
        </div>
        <!--Body of Modal-->
        <div class="container-fluid modal-subcontent">
            <div class="row">
                <div class="col-md-7">
                    <img class="modal-image" src="" />
                </div>
                <div class="col-md-5 modal-wrapper">
                    <div>
                        <header class="modal-item-title"></header>
                    </div>
                    <div>
                        <p class="modal-item-price"></p>
                    </div>
                    <div>
                        <p class="modal-item-desc"></p>
                    </div>
                    <div>
                        <a class="btn btn-success modal-cart-button" href="/Cart">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <ul class="list-inline">
                        <li class="alt-image">
                            <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/pomeranian-dog-breed-pictures/thumbs/thumbs_1-layingforward.jpg" width="75" height="75" />
                        </li>
                        <li class="alt-image">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Pomeranian_Thank_You.jpg" width="75" height="75" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">

                </div>
            </div>


        </div>
    </div>
</div>

