@page
@model OrderConfirmModel
@{
    ViewData["Title"] = "Order Confirmed!";
}

<center>
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;background-color: #F2F2F2;height: 100% !important;width: 100% !important;">
    <tbody>
      <tr>
        <td align="center" valign="top" id="bodyCell" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 20px;border-top: 0;height: 100% !important;width: 100% !important;">
          <!-- BEGIN TEMPLATE // -->
          <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;">
            <tbody>
              <tr>
                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"> </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <!-- BEGIN HEADER // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                    <tbody>
                      <tr>
                        <td valign="top" class="headerContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnCaptionBlockOuter">
                              <tr>
                                <td class="mcnCaptionBlockInner" valign="top" style="padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">


                                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionBottomContent" width="false" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <tbody>
                                      <tr>
                                        <td class="mcnCaptionBottomImageContent" align="center" valign="top" style="padding: 9px 9px 9px 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">


                                          <a href="http://www.bloomnation.com" title="" class="" target="_blank" style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                            <center>
                                              <img alt="" src="http://www.bloomnation.com/skin/frontend/default/suave/images/logo-optimized.png" width="200" style="max-width: 200px;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;vertical-align: bottom;" class="mcnImage"></center>
                                          </a>

                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>


                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- // END HEADER -->
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <!-- BEGIN BODY // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                    <tbody>
                      <tr>
                        <td valign="top" class="bodyContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnTextBlockOuter">
                              <tr>
                                <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnCaptionBlockOuter">
                              <tr>
                                <td class="mcnCaptionBlockInner" valign="top">


                                  <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionBottomContent" width="false">
                                    <tbody>
                                      <tr>
                                        <td class="mcnCaptionBottomImageContent" align="left" valign="top">

                                          <img class="order-placed" alt="" src="http://i62.tinypic.com/21exh8x.png" class="welcome-image" />
                                          </a>

                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="notice-container" valign="top">
                                          <table>
                                            <tr>
                                              <td>
                                                <img class="product-image" src="http://cdn.bloomnation.com/media/catalog/product/cache/1/image/1005x/040ec09b1e35df139433887a97daa66f/M/E/media3536eaa173f0371ea3d0150109ce5d0a.jpg" />
                                              </td>
                                              <td>
                                                <div class="text-container">
                                                  <span class="delivered-notice">We're pleased to notify you that your order for Arrangement Name was safely delivered. <br /><br />Thank you for choosing BloomNation.</span>
                                                  <img class="florist-image" src="http://cdn.bloomnation.com/media/vendor/2800/profile/120X120adap/20140722113539_file_53cef54b8bd9a.jpg" />
                                                  <span class="shop-name">Florist Shop Name</span>
                                                  <span class="shop-number">(555)555-5555</span>
                                                </div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>


                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnDividerBlockOuter">
                              <tr>
                                <td class="mcnDividerBlockInner" style="padding: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                  <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                          <span></span>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="delivery-info">
                                    <span class="delivery-info--title">Delivery Information</span>
                                    <hr />
                                    <span class="delivery-info--recipient">Farbod Shoraka</span>
                                    <span class="delivery-info--address">555 Abc St. LA, CA 90025</span>
                                    <span class="delivery-date">On February 15, 2015</span>
                                    <br />
                                    <span class="delivery-info--card">Card Message: </span>
                                    <span>Insert message here</span>
                                    <br />
                                    <span class="delivery-info--instr">Special Instructions: </span>
                                    <span>Insert instructions here</span>
                                    <br />
                                    <span class="delivery-info--subs">Substitution Policy: </span>
                                    <span>To ensure the freshest, most long-lasting arrangement, your florist may use their discretion to select the best available blooms that day. As a result, the product delivered may vary slightly from the one you selected. Rest assured, your florist will keep the integrity of the style, theme and color scheme of the design and will only substitute items of equal or higher value. </span>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="order-summary"><span class="order-summary--title">Order Summary: <br /><hr /></span></td>
                              </tr>
                              <tr>
                                  <table>
                                    <tr>
                                      <td width="5%"></td>
                                      <td width="40%"><span class="order-detail--title">Item</span></td>
                                      <td width="20%"><span class="order-detail--title">Price</span></td>
                                      <td width="20%"><span class="order-detail--title">Quantity</span></td>
                                      <td width="20%"><span class="order-detail--title">Total</span></td> 
                                      <td width="5%"></td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td><span>Product Name</span></td>
                                      <td><span>$150.00</span></td>
                                      <td><span>1</span></td>
                                      <td><span>$150.00</span></td>
                                      <td></td>
                                  </table>
                              </tr>
                              <tr>
                                <td>
                                  <div class="order-summary-container">
                                      <div class="order-summary-contact">
                                        <span>Farbod Shoraka</span>
                                        <span>225 Santa Monica Blvd.</span> 
                                        <span>Santa Monica, CA 90401</span>
                                        <span>(123) 123-4567</span>
                                      </div>
                                      <div class="order-summary-total">
                                        <span>Item Total:</span>
                                        <span>Total Delivery:</span> 
                                        <span>Total Tax:</span>
                                        <span>Discount:</span>
                                        <hr />
                                        <span>Order Total</span>
                                        <span>Balance Due</span>
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>
                                 
                                </td>
                              </tr>
                              <tr>
                                  <table>
                                    <tr>
                                      <td>
                                        <span class="order-summary-btn">Full Order Summary</span>
                                      </td>
                                    </tr>
                                  </table>
                              </tr>
                              <tr>
                                <td>
                                  <div class="questions-container">
                                    <div class="florist-questions">
                                      <span>Questions for the florist</span>
                                      <span>Joan's Flowers</span>
                                      <span>(123) 123-4567</span>
                                      <span>email@email.com</span>
                                    </div>
                                    <div class="billing-questions">
                                      <span>Questions about billing</span>
                                      <span>BloomNation</span>
                                      <span>(123) 123-4567</span>
                                      <span>email@email.com</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <a href="#"><span class="chatnow">Chat with us now</span></a>
                                    <span class="fine-print">Keep an eye out for an email confirming your gift's safe delivery.</span>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="footer">
                                  <span>
        <i class="fa fa-facebook fa-2x"></i>
        <i class="fa fa-twitter fa-2x"></i>
        <i class="fa fa-pinterest fa-2x"></i>
        <i class="fa fa-instagram fa-2x"></i>
      </span>
                                  <span>SHOP TOP CITIES: Los Angeles, San Francisco, New York, Chicago, Boston</span>
                                  <span>Please add info@bloomnation.com to your address book to ensure our messages don't go to spam. If you would prefer not to receive emails from us, simply <a href="#" style="color: #fff; text-decoration: underline">click here</a></span>
                                  <span>COPYRIGHT &copy; 2015 BLOOMNATION,INC.</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>

</center>